.sheet-page {
	/* box-sizing: border-box; */
	width: 800px;
	position: relative;
	padding: 10px;
	display: grid;
	grid-gap: 10px 10px;
	background-color: #fff;
	/* grid-template-columns: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%; */
}

.section-grid {
	padding: 5px;
	display: grid;
	grid-column-gap: 5px;
	grid-row-gap: 2px;
}

.header-grid {
	display: grid;
	grid-column-gap: 5px;
	grid-row-gap: 2px;
}

.prof-grid div {
	height: 16px;
}

.item-charheader {
	grid-row: 1 / 3;
	grid-column: 4 / 11;
}

.item-level {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}

.item-ablscores {
	grid-row: 3 / 5;
	grid-column: 1 / 4;
}

.item-proficiency {
	grid-row: 1 / 3;
	grid-column: 1 / 3;
}

.item-armorclass {
	grid-row: 3 / 4;
	grid-column: 4 / 9;
}

.item-saves {
	grid-row: 4 / 6;
	grid-column: 4 / 9;
}

.item-health {
	grid-row: 3 / 4;
	grid-column: 9 / 11;
}

.item-senses {
	grid-row: 4 / 6;
	grid-column: 9 / 11;
}

.item-speeds {
	grid-row: 6 / 7;
	grid-column: 1 / 6;
}

.item-languages {
	grid-row: 6 / 7;
	grid-column: 6 / 11;
}

.item-strikes {
	grid-row: 7 / 8;
	grid-column: 1 / 6;
}

.item-skills {
	grid-row: 7 / 8;
	grid-column: 6 / 11;
}
