body {
	background-color: #aaa;
	font-size: 12px;
	color: #000;
}

.section {
	background-color: #ddd;
}

.section-head {
	background-color: #000;
	color: #fff;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

.sub-head {
	background-color: #888;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

.explanation {
	font-size: 10px;
	color: #555;
}

.box {
	border: 1px solid #000;
	font-size: 10px;
}

.prof-block {
	font-size: 7px;
	text-align: center;
	color: #555;
	margin: 0px;
	padding: 0px;
}

.prof-calc {
	background-color:#bbb;
}

.prof-free {
	display:inline;
}

.prof-column {
	max-width:13px;
}

.radio-size {
	width: 16px;
	min-width: 16px;
	max-width: 16px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

.aright {
	text-align: right;
}

.acenter {
	text-align: center;
}

.hidden {
	display: none;
}

input {
	background-color: #f84;
	outline-style: none;
	border: 0 solid #fff;
	box-sizing: border-box;
}

.major-input {
	width: 100%;
	height: 16px;
	font-size: 20px;
	height:22px;
}

.minor-input {
	width: 100%;
	height: 14px;
	font-size: 10px;
}

.minor-input-big {
	width: 100%;
	font-size: 20px;
}

.input-box-1 {
	background-color: #fff;
	border: 1px solid #000;
	font-size: 10px;
	padding: 1px 2px;
}

.input-box-1 span {
	position: absolute;
}

.controls {
	background-color: #bb2;
}